@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.logo-picture{
    max-width: 40px;
    max-height: 40px;
    margin-top: 5px;
}
header{
    margin: 0;
    max-height: 130px;
    
}
.link{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.nav-a{
    margin: 10px;
    color: black;
    text-decoration: none;
}
.nav-a:hover{
    color: #7b6154;
    border-bottom: 1px solid #7b6154;
    transition-duration: 0.5s;
}
.main{
    margin: 0;
}
.digital-img{
    background-image: url(../img/disain.jpg);
    background-position: center;
    background-repeat: none;
    max-width: 1307px;
    max-height: 500px;
    background-size: 1307px;
    margin-top: 10px;
}
.digital-img-tx{
    background-color: black;
    opacity: .7;
    font-weight: 700;
    padding: 70px;
    color: white;
    font-size: 25px;
    text-align: justify;
}
.picture{
    margin-top: 30px;
    max-width: 1307px;
}
.description{
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}
span{
    border: solid 4px #7b6154;
    padding: 0px 25px;
}
.title {
    overflow: hidden;
    text-align: center;
    font-size: 30px;
}
.title span {
    display: inline-block;
    vertical-align: middle;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #7b6154;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -14px;
}
.title:after {
    margin-right: -100%;
    right: -14px;
}
.title{
    margin: 30px 0px; 
}
.portrait{
    display: flex;
    justify-content: center;
    max-width: 1307px;
}
.potrait img{
    margin: 1px;
}
.portrait-picture{
    margin-bottom: 3px;
}
.potrait1{
    max-width: 393px;
}
.potrait2{
    max-width: 434px;
}
.potrait3{
    max-width: 460px;
}

.potrait4{
    max-width: 414px;
}
.potrait5{
    max-width: 451px;
}
.potrait6{
    max-width: 421px;
}

.potrait7{
    max-width: 379px;
}
.potrait8{
    max-width: 473px;
}
.potrait9{
    max-width: 435px;
}

.potrait10{
    max-width: 429px;
}
.potrait11{
    max-width: 429px;
}
.potrait12{
    max-width: 429px;
}

.potrait13{
    max-width: 444px;
}
.potrait14{
    max-width: 444px;
}
.potrait15{
    max-width: 397px;
}

.potrait16{
    max-width: 441px;
}
.potrait17{
    max-width: 440px;
}
.potrait18{
    max-width: 405px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 70px;  
}
.contacts{
    background-color: white;
    max-width: 1000px;
    max-height: 500px;
    margin: 60px;
    padding: 30px 200px;
}
.contacts h3{
    text-align: center;
}
.contacts a{
    color: black;
    text-decoration: none;
}
.contacts a:hover{
    color: #7b6154;
}
.con1 p{
    font-size: 25px;
}
.telephone{
    margin-left: 50px;
}
.con-img{
    max-width: 40px;
    max-height: 40px;
    margin: 10px 50px;
}
